.outfit-qr-text, h3 {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}

.outfit-qr-text, p {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  padding-left: 5%;
  padding-right: 5%;
  color: grey;
  margin-top: -5px;
}

body {
  background-color: hsl(212, 45%, 89%);
  margin: 0 auto;
}

.qr-card {
  text-align: center;
  margin: 15% auto;
  padding: 13px 13px;
  max-width: 15%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 4%;
  box-shadow: 0 13px 20px 0 #beccdc;
}

.qr-card img {
  width: 100%;
  border-radius: 4%;
  
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%);
}