/* * {
  box-sizing: border-box;
} */

.outfit-qr-text, h3 {
  font-weight: 700;
  font-style: normal;
  padding: 2px;
}

.outfit-qr-text, p {
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: grey;
  padding: 12px;
  margin-top: -20px;
}

body {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  background-color: hsl(212, 45%, 89%);
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.qr-card {
  padding: 20px;
  width: 250px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  box-shadow: 0 13px 20px 0 #beccdc;
}

img {
  max-width: 100%;
  align-items: center;
  border-radius: 15px;
}

.text {
  /* width: fit-content; */
  text-align: center;
  /* padding: 10px; */
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%);
}